.registerform{margin-bottom:40px;}
.registerform .need{
    width:10px;
    color:#b20202;
}
.registerform td{
    padding:5px 0;
    vertical-align:top;
    text-align:left;
}
.registerform .inputxt,.registerform textarea{
    border:1px solid #a5aeb6;
    width:196px;
    padding:4px 2px;
}
.registerform textarea{
    height:75px;
}
.registerform label{
    margin:0 15px 0 4px;
}
.registerform .tip{
    line-height:20px;
    color:#5f6a72;
}
.registerform select{
    width:202px;
}
.registerformalter select{
    width:124px;
}
.Validform_checktip{margin-left:10px;vertical-align:middle;}

.registerform .label{display:inline-block; width:70px;}

.action{padding-left:92px;}

td.td1 {width:10px;
    color:#b20202;
    vertical-align:middle;}
td.td2 {width:120px;
    text-align:left;
    vertical-align:middle;}
td.td3 {width:240px;
    text-align:left;
    vertical-align:middle;}
td.Validform_checktip {margin-left:10px;text-align:left;vertical-align:middle;}
